body {
    font-family: 'Roboto', sans-serif;
}
.filter-button {
    color: #4D5AE5;
    background-color: #F4F4FD;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}
.filter-buttun:hover,
.filter-button:focus {
    color: #FFF;
    background-color: #404BBF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;    
}
.project-tittle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
}
.project-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.main-headline {
    color: #FFF;
    background-color: #2E2F42;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07143;
    letter-spacing: 1.12pb;
}
.main-headline-button {
    color: #FFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}
.sub-headline {
    color: sub headline;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111111;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

footer {
    font-family: 'Lobster', cursive;
    font-family: 'Raleway', sans-serif;
}
